.menuPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.refrigerator {
  display: flex;
  flex-flow: column;
  width: 99%;
  height: 92vh;
  margin-top: 5%;
  cursor: pointer;
  @media (min-width: 400px) {
    width: 350px;
    height: 700px;
  }
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  color: white;
  background-color: black;
}

.upperContainer {
  width: 100%;
  height: 55%;
  display: flex;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
}

.recipesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

.iconsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

.upperIcons {
  display: block;
  font-size: 450%;
  color: black;
}

.boxIcon {
  height: 80px;
}

.arrowIcon {
  height: 70px;
  padding-bottom: 0px;
}

.recipeIcon {
  height: 80px;
  margin-top: 10px;
}

.lowerContainer {
  display: block;
  width: 100%;
  height: 40%;
}

.loginContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 25px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
  height: 40%;
}

.loginIconText {
  display: flex;
  width: 100%;
  color: black;
}

.loginIcon {
  font-size: 30px;
  margin-left: 50px;
  color: black;
}

.loginText {
  margin-left: 65px;
  color: black;
  @media (min-width: 400px) {
    font-size: 22px;
    margin-left: 50px;
  }
}

.freeRecipesContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 65%;
}

.freeRecipeIconText {
  display: flex;
  width: 100%;
  font-size: 25px;
  color: black;
}

.freeRecipeIcon {
  margin-left: 50px;
  font-size: 40px;
  color: black;
}

.freeRecipeText {
  margin-left: 15px;
  @media (min-width: 400px) {
    font-size: 22px;
  }
}

.linkRange {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.addFoodsPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.categoryTab {
  display: flex;
  width: 100%;
  margin-top: 15%;
  padding-bottom: 10%;
  overflow-x: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @media (min-width: 1070px) {
    align-items: center;
    justify-content: center;
  }
}

.tabsBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  width: 85%;
}

.activeCategoryText {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  border-bottom: 1px solid blue;
  justify-content: center;
  white-space: nowrap;
}
.nonActiveCategoryText {
  white-space: nowrap;
  color: gray;
  margin-right: 20px;
  font-size: 20px;
}

.nonActive {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.nonActiveButton {
  visibility: hidden;
  pointer-events: none;
}

.returnAndTitle {
  display: flex;
  position: relative;
  width: 100%;
}

.returnButton {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.PageTitle {
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 0;
}

.foodListContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.RefrigeratorContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.searchRecipe {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.foodListBar {
  display: flex;
  width: 85%;
  height: 56px;
  margin-top: 36px;
  background-color: #fa9c9c;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.refrigeratorBar {
  display: flex;
  width: 85%;
  height: 56px;
  margin-top: 15%;
  background-color: #e1e5fb;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.goToRecipesPageBar {
  display: flex;
  width: 100%;
  height: 56px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.accordionText {
  font-size: 18px;
  margin-left: 15px;
}

.link {
  width: 85%;
  height: 56px;
  margin-top: 16.5%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nonActiveRectangleButton {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 30px;
  margin-right: 15px;
  transition: 0.5s;
}

.activeRectangleButton {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 30px;
  margin-right: 15px;
  transform: rotate(180deg);
  transition: 0.5s;
}

.foodListBox {
  display: flex;
  flex-flow: column;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  align-items: center;
}

.refrigeratorBox {
  display: flex;
  flex-flow: column;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  align-items: center;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-right: 10px;
}

.textBox {
  width: 160px;
  border: 0;
  border-bottom: 1px solid gray;
  outline: none;
  text-align: center;
  color: gray;
  font-size: 20px;
}

.searchIcon {
  color: gray;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
}

.activeFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fa9c9c;
}

.foodListNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}

.freeRecipesFoodsNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}

.refrigeratorNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #e1e5fb;
}

.buttonAndName {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.addButton {
  font-size: 24px;
}

.deleteButton {
  font-size: 24px;
}

.foodName {
  width: 70px;
  height: 14px;
  font-size: 13px;
  margin: 5px;
}

.foodImage {
  margin-top: 10px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
}

.recipesPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.recipesZone {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.recipesList {
  width: 90%;
}

.redText {
  text-align: center;
  color: red;
}

.recipe {
  height: 150px;
  margin: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.imageAndOther {
  display: flex;
  justify-content: center;
}

.recipeImageBox {
  position: relative;
  padding-top: 15px;
}

.recipeImage {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.recipeOther {
  display: flex;
  flex-flow: column;
  width: 200px;
}

.foodTagMeat {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffd4d4;
}
.foodTagFish {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #a8bef7;
}
.foodTagDairyProduct {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fbfcc6;
}
.foodTagVegetable {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #cafcc6;
}
.foodTagBeans {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f9b38c;
}
.foodTagFruits {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #b58cf9;
}
.foodTagPowdered {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f6f984;
}
.foodTagGrains {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f8db92;
}
.foodTagSeasoning {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #92d3f8;
}

.recipeTitle {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 18px;
}

.material {
  padding-left: 10px;
  height: 52px;
  overflow: hidden;
}

.materialList {
  list-style: none;
  display: inline;
  justify-content: center;
  font-size: 12px;
  color: red;
}

.freeRecipesPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.freeRecipesZone {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.freeRecipesButton {
  display: flex;
  align-items: center;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #d9d9d9;
}

.freeRecipesLink {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 90%;
}

.freeRecipesDescription {
  font-size: 90%;
}

.logInFormPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.logInForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loggedForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.loggedText {
  font-size: 16px;
  margin-bottom: 30px;
}

.loggedSubmitArea {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loginFormContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.authenticationButton {
  font-size: 16px;
  margin-top: 20px;
  width: 140px;
  height: 28px;
}

.authenticationText {
  font-size: 16px;
  margin-top: 40px;
  width: 120px;
  color: blue;
  border-bottom: 2px solid blue;
}

.backText {
  font-size: 16px;
  margin-top: 40px;
  width: 32px;
  color: blue;
  border-bottom: 2px solid blue;
}

.authenticationForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}

.submitArea {
  width: 250px;
  display: flex;
  flex-flow: column;
  text-align: left;
  margin-top: 30px;
}

.label {
  width: 250px;
  text-align: left;
}

.form {
  width: 250px;
  font-size: 16px;
}

.registrationDescription {
  width: 100%;
  margin-top: 10%;
  white-space: pre-line;
}

.errorMessage {
  text-align: center;
  font-size: 1rem;
  margin-top: 10%;
  color: red;
  white-space: pre-line;
}

.onboardingPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.onboardingUI {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 350%;
  width: 90%;
}

.onboardingButton {
  font-size: 250%;
  margin: 25px;
  cursor: pointer;
  @media (min-width: 400px) {
    font-size: 40px;
  }
}

.nonActiveOnboardingButton {
  visibility: hidden;
  pointer-events: none;
  font-size: 250%;
  margin: 25px;
}

.onboardingImg {
  width: 100%;
  height: 100%;
  @media (min-width: 400px) {
    width: 160px;
    height: 380px;
  }
}

.description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.descriptionTitle {
  margin: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.descriptionText {
  font-size: 1rem;
  font-weight: bold;
  white-space: pre-line;
}

.skipAndDots {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.skip {
  font-size: 100%;
  font-weight: bold;
  color: black;
}

.dots {
  display: flex;
}

.dot {
  font-size: 150%;
  font-weight: bold;
  margin: 10px;
}
.nonActiveDot {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: lightgray;
}

.tutorial {
  width: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 60px;
  font-size: 16px;
}

.indicateNumber {
  font-size: 20px;
  margin: 10px;
}
