.refrigerator {
  display: block;
  width: 389px;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  background-color: black;
}

.upperContainer {
  display: flex;
  height: 400px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
}

.recipesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

.iconsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

.upperIcons {
  display: block;
  font-size: 70px;
  color: black;
}

.boxIcon {
  height: 80px;
}

.arrowIcon {
  height: 70px;
  padding-bottom: 0px;
}

.recipeIcon {
  height: 80px;
  margin-top: 10px;
}

.lowerContainer {
  display: block;
}

.loginContainer {
  border: 1px solid black;
  height: 140px;
  font-size: 25px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
}

.loginIconText {
  display: flex;
  width: 100%;
  color: black;
}

.loginIcon {
  font-size: 30px;
  margin-left: 50px;
  color: black;
}

.loginText {
  margin-left: 65px;
  color: black;
}

.freeRecipesContainer {
  border: 1px solid black;
  height: 240px;
}

.freeRecipeIconText {
  display: flex;
  width: 100%;
  font-size: 25px;
  color: black;
}

.freeRecipeIcon {
  margin-left: 50px;
  font-size: 40px;
  color: black;
}

.freeRecipeText {
  margin-left: 15px;
}

.linkRange {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.addFoodsPage {
  width: 390px;
}

.categoryTab {
  display: flex;
  max-width: 360px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.tabsBox {
  border-bottom: 1px solid gray;
}

.activeCategoryText {
  color: black;
  font-weight: bold;
  margin: 10px;
  font-size: 20px;
  border-bottom: 1px solid blue;
  justify-content: center;
}
.nonActiveCategoryText {
  color: gray;
  margin: 10px;
  font-size: 20px;
}

.nonActive {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.nonActiveButton {
  visibility: hidden;
}

.returnAndTitle {
  display: flex;
  position: relative;
}

.returnButton {
  position: absolute;
  font-size: 40px;
  color: black;
  z-index: 1;
}

.PageTitle {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  z-index: 0;
}

.foodListContainer {
  margin-top: 86px;
}

.foodListBar {
  display: flex;
  width: 330px;
  height: 56px;
  margin-top: 36px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 0px;
  background-color: #fa9c9c;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.refrigeratorBar {
  display: flex;
  width: 330px;
  height: 56px;
  margin-top: 12px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 0px;
  background-color: #e1e5fb;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.goToRecipesPageBar {
  display: flex;
  width: 330px;
  height: 56px;
  margin-top: 12px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 0px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.accordionText {
  font-size: 18px;
  margin-left: 15px;
}

.link {
  text-decoration: none;
  color: black;
}

.nonActiveRectangleButton {
  font-size: 30px;
  margin-right: 15px;
  transition: 0.5s;
}

.activeRectangleButton {
  font-size: 30px;
  margin-right: 15px;
  margin-bottom: 5.5px;
  transform: rotate(180deg);
  transition: 0.5s;
}

.foodListBox {
  display: flex;
  flex-flow: column;
  opacity: 1;
  transition: 0.5s;
  align-items: center;
}

.refrigeratorBox {
  display: flex;
  flex-flow: column;
  opacity: 1;
  transition: 0.5s;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.textBox {
  width: 130px;
  border: 0;
  border-bottom: 1px solid gray;
  outline: none;
  text-align: center;
  color: gray;
  font-size: 20px;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.activeFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fa9c9c;
}

.foodListNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}

.freeRecipesFoodsNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}

.refrigeratorNonActiveFood {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 140px;
  margin: 16px;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #e1e5fb;
}

.buttonAndName {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.addButton {
  font-size: 24px;
}

.deleteButton {
  font-size: 24px;
}

.foodName {
  width: 70px;
  font-size: 14px;
  margin: 5px;
}

.foodImage {
  margin-top: 10px;
  width: 100px;
  height: 80px;
}

.searchContainer {
  margin-top: 86px;
}

.recipesPage {
  width: 390px;
}

.recipesZone {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recipesList {
  width: 370px;
}

.redText {
  text-align: center;
  color: red;
}

.recipe {
  height: 150px;
  padding: 15px;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.imageAndOther {
  display: flex;
  justify-content: center;
}

.recipeImageBox {
  position: relative;
  padding-top: 15px;
}

.recipeImage {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.recipeOther {
  display: flex;
  flex-flow: column;
}

.foodTag {
  width: 90px;
  font-size: 12px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffd4d4;
}

.recipeTitle {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 18px;
}

.material {
  padding-top: 0px;
  padding-left: 10px;
}

.materialList {
  list-style: none;
  display: inline;
  justify-content: center;
  font-size: 12px;
  color: red;
}
